<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.xheng.welfaresociety">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.FuLiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity"/>
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.GoodsDescActivity">
        </activity>
        <activity android:name=".ui.activity.BoutiqueChildActivity">
        </activity>
        <activity android:name=".ui.activity.CategoryChildActivity">
        </activity>
        <activity android:name=".ui.activity.LoginActivity">
        </activity>
        <activity android:name=".ui.activity.RegisterActivity">
        </activity>
        <activity android:name=".ui.activity.SettingsActivity">
        </activity>
        <activity android:name=".ui.activity.UpdateNickActivity">
        </activity>
        <activity android:name=".ui.activity.SettingsAvatar">
        </activity>
        <activity android:name=".ui.activity.MyCollectActivity">
        </activity>
        <activity android:name=".ui.activity.OrderForGoodsActivity">
        </activity>
    </application>

</manifest>